* {
	box-sizing: border-box;
}
body {
	
	background-color: #ffffff;

}



h1 {
clear:both;
	text-align: center;
	
}

p {
	padding: 10px;
	margin: 0;
}

.c {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

section {
	border:	1px solid black;
	background-color: grey;
	width: 100%;
	height: auto;
	font-family: Helvetica;
	color: black;
	
	overflow: auto;
}

#chicken {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: grey;
}

#beef {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: grey;
}

#sushi {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: grey;
	padding: 5px;
}

.row {
	width: 100%;
}

/* Desktop view */

@media (min-width: 992px) {
.nav-item{
	display:none;
}
  .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
    float: left;
  }

  .c1 {
    width: 8.33%;
  }
  .c2 {
    width: 16.66%;
  }
  .c3 {
    width: 25%;
  }
  .c4 {
    width: 33.33%;
  }
  .c5 {
    width: 41.66%;
  }
  .c6 {
    width: 50%;
  }
  .c7 {
    width: 58.33%;
  }
  .c8 {
    width: 66.66%;
  }
  .c9 {
    width: 74.99%;
  }
  .c10 {
    width: 83.33%;
  }
  .c11 {
    width: 91.66%;
  }
  .c12 {
    width: 100%;
  }

}

/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
.nav-item{
	display:none;
}
overflow:auto;
  .cm1, .cm2, .cm3, .cm4, .cm5, .cm6, .cm7, .cm8, .cm9, .cm10, .cm11, .cm12 {
    float: left;
  }

  .cm1 {
    width: 8.33%;
  }
  .cm2 {
    width: 16.66%;
  }
  .cm3 {
    width: 25%;
  }
  .cm4 {
    width: 33.33%;
  }
  .cm5 {
    width: 41.66%;
  }
  .cm6 {
    width: 50%;
  }
  .cm7 {
    width: 58.33%;
  }
  .cm8 {
    width: 66.66%;
  }
  .cm9 {
    width: 74.99%;
  }
  .cm10 {
    width: 83.33%;
  }
  .cm11 {
    width: 91.66%;
  }
  .cm12 {
    width: 100%;
  }
}

/* Mobile view */

@media (max-width: 768px) {
  .cs1, .cs2, .cs3, .cs4, .cs5, .cs6, .cs7, .cs8, .cs9, .cs10, .cs11, .cs12 {
 	float: left;
  }

  .cs1 {
    width: 8.33%;
  }
  .cs2 {
    width: 16.66%;
  }
  .cs3 {
    width: 25%;
  }
  .cs4 {
    width: 33.33%;
  }
  .cs5 {
    width: 41.66%;
  }
  .cs6 {
    width: 50%;
  }
  .cs7 {
    width: 58.33%;
  }
  .cs8 {
    width: 66.66%;
  }
  .cs9 {
    width: 74.99%;
  }
  .cs10 {
    width: 83.33%;
  }
  .cs11 {
    width: 91.66%;
  }
  .cs12 {
    width: 100%;
  }
}